.page-container {
  background: #181818;
  color: #fff;
  min-height: 100vh;
}

/* NAVBAR */
.page-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #333;
}

.nav-btn {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 6px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.nav-btn:hover {
  background: #fff;
  color: #000;
}

.navbar-toggler-icon {
  filter: invert(1);
}

/* CONTENT */
.page-content .page-header h1 {
  color: white !important;           /* white text */
  background-color: rgb(0, 0, 0) !important;  /* purple background */
  padding: 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #000;
}

.page-header p {
  color: #ffffff;
}

/* FORM */
.add-form {
  background: #111;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  gap: 15px;
}

.add-form input {
  background: #222;
  border: 1px solid #333;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}

/* GRID */
.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

/* NEW CARD */
.new-card {
  background: #1a1a1a;
  border: 2px solid #444;
  border-radius: 25px;
  padding: 25px;
  transition: all 0.3s ease;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Hover effect */
.new-card:hover {
  background: #fff;
  color: #000;
  transform: translateY(-5px);
}

/* Button inside new card */
.card-btn {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px 14px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-btn:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}


/* BUTTONS */
.view-btn {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.delete-btn {
  background: rgba(255, 77, 77, 0.15);
  color: #ff4d4d;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.add-btn {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 125px;
  height: 70px;
}
.add-btn:hover {
  background: #fff;
  color: #000;
}
.save-btn {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  height: 70px;
}
.save-btn:hover {
  background: #fff;
  color: #000;
}


.car-card-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.car-card-btn:hover {
  background: #000;
  color: #fff;
}



.delete-btn:hover {
  background: #ff4d4d;
  color: #fff;
}

.detail-btn {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.detail-btn:hover {
  background: #fff;
  color: #000;
}

