.Nepal {
    color: white;
    padding: 30px;
    font-size: 2rem;
    text-align: center;
}

.background {
    background-color: #2353A7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}