.container {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: "column";
    gap: 12px;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid;
}

.btn {
    padding: 10px;
    background: black;
    color: white;
    border: 0px;
    border-radius: 6px;
}

.oauthBtn {
    padding: 10px;
    background: #eee;
    border: 0px;
    border-radius: 6px;
}